/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/* common */
* {
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.space {
    padding: 0 2rem;
}

/* HEADER */
header {
    height: 80px;
    background-color: #0084fd;
    color: white;
    padding: 0 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.start-list {
    display: none;
}

/* MAIN */

/* first section */
.col {
    background-color: aliceblue;
    border: 1px solid red;
}

main .space {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.card {
    margin: 10px;
}

/* second section */
.planning, .developement {
    border: 1px solid red;
}

.strategy {
    background-color: #9792e4;
}

.developement {
    background-color: white;
}


/* tablet */
@media screen and (min-width: 768px) {
    /* first section media */
    .row {
        display: flex;
    } 

    .col {
        width: calc(100% / 3);
    }

    .top-left {
        width: calc((100% / 3) * 2);
    }

}




/* desktop */
@media screen and (min-width: 992px) {

    /* header media */
    .start-list {
        display: block;
    }

    .burger {
        display: none;
    }

    header {
      padding: 0; 
    }

    /* second section media */

    .strategy-container {
        display: flex;
        align-items: flex-end;
        max-width: 1000px;
        margin: 0 auto;
    }

    .developement, .planning {
        width: calc(100% / 2);
    }

}