/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/* common */
* {
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.space {
    padding: 0 2rem;
}

/* HEADER */
header {
    height: 80px;
    background-color: #0084fd;
    color: white;
    padding: 0 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.start-list {
    display: none;
}

/* MAIN */

/* first section */
.col {
    background-color: aliceblue;
    border: 1px solid red;
}

main .space {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.card {
    margin: 10px;
}

/* second section */
.planning, .developement {
    border: 1px solid red;
}

.strategy {
    background-color: #9792e4;
}

.developement {
    background-color: white;
}

.planning {
    color: white;
}

.planning-text {
    margin-top: 5rem;
}

.planning-image, .develop-image {
    border: 1px solid red;
}

/*third section  */
.testimonials {
    text-align: center;
}

.testimonial {
    border: 1px solid red;
    background-color: #9792e4;
    color: white;
    margin-bottom: 2rem;
}

.testimonials h1 {
    margin: 1.5rem 0;
}

.testimonials p {
    margin-bottom: 1.5rem;
}

/* fourth section */

.benefits {
    background-color: #9792e4;
}

.benefits h1 {
    text-align: center;
    color: white;
}

.box {
    background-color: white;
    border: 1px solid red;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* fifth section */
 p {
    border: 1px solid red;
    margin: 2rem 0;
 }

 .image-person {
     border: 1px solid red;
 }

 .about-person {
     border: 1px solid red;
 }




/* tablet */
@media screen and (min-width: 768px) {
    /* first section media */
    .row {
        display: flex;
    } 

    .col {
        width: calc(100% / 3);
    }

    .top-left {
        width: calc((100% / 3) * 2);
    }

    /* third section media */

    .testimonial {
        display: flex;
        justify-content: space-between;
    }

    .image-test {
        width: 20%;
    }

    .text-test {
        width: 80%;
    }

    /* fourth section */

    .benefits-columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box {
        width: calc(98% / 2);
    }

    /* fifth section */

    .about-container {
        display: flex;
        justify-content: space-between;
    }

    .about-text{
        width: calc(97% / 2);
    }

    .about-person {
        width: calc(97% / 2);
    }

}




/* desktop */
@media screen and (min-width: 992px) {

    /* header media */
    .start-list {
        display: block;
    }

    .burger {
        display: none;
    }

    header {
      padding: 0; 
    }

    /* second section media */

    .strategy-container {
        display: flex;
        align-items: flex-end;
        max-width: 1000px;
        margin: 0 auto;
    }

    .developement, .planning {
        width: calc(100% / 2);
    }

    /* fourth section */
    .benefits-columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box {
        width: calc(97% / 3);
    }

}